.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/Banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  h1 {
    margin-top: -200px;
    color: $brown;
    font-size: 89px;
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.75);
  }
}

.last-articles{
  display: flex;
  h2{
    
  }
  article:nth-child(even){
    display: flex;
    flex-direction: column;
    width: 500px;
  }
}