header {
  .menu {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 50px 0 0 50px;
    li {
      list-style: none;
      a {
        color: white;
        text-decoration:none;
        font-size: 34px;
        position: relative;
      }
      a:after{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: #845331;
        height: 2px;
      }
      a:hover:after{
        width: 100%;
        transition:all 1s;
      }
    }
  }
}
