h1{
    text-align: center;
    font-size: 45px;
}
h2{
    color: rgb(105, 240, 195);
}

div[class^="menu-"]{
    
    height: 40px;
    margin:10px auto;
    
    ul{
        margin:10px auto;
        
        display: flex;
    justify-content: space-around;
    align-items: center;
    li{
        margin: 10px auto;
        
        
        a{
            border-radius: 5px;
            border: 2px solid grey;
            padding: 10px;
            background: rgb(1, 127, 136);
            color: #000;
            font-size: 30px;
        }
    }
    }
   
}
.menu {
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
    color: rgb(26, 26, 26);
}
.menu .menu-item {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
     
}
.menu .menu-item a, main article a {
    text-decoration: none;
    color: #000;
}
.menu .menu-item a:hover, main article a:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}
.menu .menu-item ul a{
    background: #000;
}