*{
    margin: 0;
    padding: 0;
}
body {
    background: rgb(219, 219, 219);
    
}
main{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 50px;
    background: #000;
}
main#Accueil{
    background: rgb(53, 52, 52);
}
article{
    margin: 5px;
    padding: 50px;
    background: rgb(129, 129, 129);
    
}
h1{
    margin: 20px auto;
    font-size: 45px;
}
h2{
    font-size: 30px;
    margin: 10px 50px;
}
p{
    font-size: 25px;
    margin: 10px 20px;
}