.page-article {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../assets/spirale.png);
  background-size:cover;
  background-attachment: fixed;
  
  
  h1 {
    margin: 30px auto;
    color: $cream;
  }
  
}

.cat {
  width: 50%;
  margin: 0 auto;
  li {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      a {
        margin-top: 20px;
        text-decoration: none;
        color: $lightBrown;
      }
      a:visited {
        color: $lightBrown;
      }
    }
  }
}

