.container-promo {
  margin: 0 auto;
  width: 80%;
  overflow: hidden;
  .slide {
    display: flex;
    justify-content: space-around;
    width: 700%;
    .present-item {
      background: red;
      width: 100%;
      overflow: hidden;
    }
  }
}
