

// Styling
.promo {
  width: 100%;
  height: auto;
  background-image: url(../assets/classe.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section {
  padding: 50px 0;
}

.promo-container {
  width: 90%;
  height: 500px;
}
