.page-card{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(../assets/bureau.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .card{   
    position: relative;
    width: 30vw;
    height: 40vw;
    background-color: $brown;
    transform-style:preserve-3d ;
    transform: perspective(1000px);
    box-shadow: 10px 20px 40px rgba(247, 246, 246, 0.25);
    border-radius: 10px;
    transition: 1s;
    .imgbox{
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      transform-origin: left;
      transform-style: preserve-3d;
      background: #000;
      border-radius: 10px;      
      transition: 1s;
      box-shadow: 10px 20px 40px rgba(247, 246, 246, 0.25);
      filter: grayscale(70%);
      img{
        filter: grayscale(70%);        
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        backface-visibility: hidden;
      }
      img:nth-child(2){
        transform:rotateY(180deg) ;       
        border-radius: 10px;
      }
    }
    .details{      
      position: absolute;
      top: 0;
      left: 0;
      width: 90%;
      height: 100%;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
        .content-card{
          width: 100%;
          height: 100%;
          display: flex;
          justify-content:flex-start;
          align-items: center;        
          flex-direction: column;
          h2{
            color: $cream;
            text-align: center;
            font-weight: 700;
            line-height: 1em;
          }
          .descri-card{
            margin-top: 20px;           
            width: 100%;
            height: 25%;
            overflow: hidden;
          }
          .proj-card{
            margin-top: 5px;
            width: 100%;            
            height: 55%;
            display: flex;
            justify-content: space-around;
            .projet{            
              border:2px solid $cream;
              border-radius: 5px;              
              background:$lightBrown;              
             width: 30%;
             .proj-descr{
              width: 95%;
              height: 95%;
              display: flex;
              align-items: center;
              
              flex-direction: column;
              color: antiquewhite;
              margin: 5px auto;
              text-decoration: none;
              h4{
                font-size: 20px;
              }
              img{
                margin-top: 5px;
                width: 80px;
                height: 80px;

              }
              p{
                margin-top: 5px;
                text-decoration: none;
              }
              }
            }
          }
          .social-icons{
            position: relative;
            display: flex;
            margin-top: 10px;
            height: auto;
            a{
              display: inline-block;
              
              
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration:none ;
              margin: 5px;
              transition: 0.2s;
            }            
          }
        }
      }
    }  
  } 
  .card:hover .imgbox{
    transform: rotateY(-180deg);
  }
 .card:hover{
   transform: translateX(50%);
 }


