.menu .menu-item a, main article a {
    text-decoration: none;
    color: rgb(233, 230, 230);
}
.menu .menu-item a:hover, main article a:hover {
    text-decoration: underline;
    color: rgb(0, 2, 1);
}
main{
    background: rgb(190, 189, 189);
}