.techno-container{
    
    margin-top: 100px ; 
    width: 100%;
    height: auto;
    color: honeydew;
    .title-tech{
        margin: 10px 120px;
        
        
            position: relative;
           }
          
           .title-tech::before {
            content: "";
            position: absolute;
            left: 5.5%;
            bottom: 0px;
            width: 190px;
            height: 14px;
            transform: skew(-12deg) translateX(-50%);
            background: rgba(238, 131, 109, 0.5);
            z-index: -1;
         
    }
    .bloc-front{
        margin: 30px auto;
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        
        width: 90%;
        height: auto;
        gap: 15px;
        .item-bloc-front{
            width: 100%;
            display: flex;
            img{
                width: 15%;
                background-image: src;
                margin-left: 20px;
            
            width: 120px;
            height: 120px;
            }
            p{
                width: 85%;
            margin-left: 20px;
            font-size: 20px;
            }
        }
        
    }
    .bloc-back{
        
        width: 90%;
        height: auto;
        margin: 30px auto;
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        
        width: 90%;
        height: auto;
        gap: 15px;
        .item-bloc-back{
            width: 100%;
            display: flex;
            img{
                width: 15%;
                margin-left: 20px;
            
            width: 120px;
            height: 120px;
            }
            p{
                width: 85%;
            margin-left: 20px;
            font-size: 20px;
            
            }
        }
    }
    .bloc-pao{
        
        width: 90%;
        height: auto;
        margin: 30px auto;
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        
        width: 90%;
        height: auto;
        gap: 15px;
        .item-bloc-pao{
            width: 100%;
            display: flex;
            img{
                width: 15%;
                margin-left: 20px;
            
            width: 120px;
            height: 120px;
            }
            p{
                width: 85%;
                margin-left: 20px;
                font-size: 20px;
            
            }
        }
    }
    .bloc-vers{
        
        width: 90%;
        height: auto;
        margin: 30px auto;
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        
        width: 90%;
        height: auto;
        gap: 15px;
        .item-bloc-vers{
            width: 100%;
            display: flex;
            img{
                width: 15%;
                margin-left: 20px;
            
            width: 120px;
            height: 120px;
            }
            p{
                width: 85%;
                margin-left: 20px;
                font-size: 20px;
            
            }
        }
    }
}